<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Апеляція - AntiLink</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/headerStyles.css">
    <link rel="stylesheet" href="/styles/appeal.css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X11FCJH670"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-X11FCJH670', { cookie_domain: '.antilink.pp.ua' });
    </script>
    
    <script src="/frontend/headerComponent.js" type="module"></script>
    <script src="/frontend/footerComponent.js" type="module"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
    <div id="app" v-cloak>
        <header-component></header-component>

        <main class="main-content">
            <div class="appeal-container">
                <div class="appeal-header">
                    <h1>{{ t("appeal.main_title") }}</h1>
                    <p>{{ t("appeal.main_description")}}</p>
                </div>

                <form class="appeal-form" @submit.prevent="submitForm">
                    <div class="form-group">
                        <label class="form-label">{{ t("appeal.form.title_discord_id")}}</label>
                        <input type="text" class="form-control" :value="user_id" disabled>
                    </div>

                    <div class="form-group">
                        <label class="form-label">{{ t("appeal.form.punish_date")}}</label>
                        <input v-model="form.warnDate" type="date" class="form-control">
                        <div class="error-message" v-if="errors.warnDate">{{ errors.warnDate }}</div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">{{ t("appeal.form.reason")}}</label>
                        <textarea v-model="form.reason" class="form-control" rows="4" :placeholder="t('appeal.form.reason_desc')"></textarea>
                        <div class="error-message" v-if="errors.reason">{{ errors.reason }}</div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">{{ t("appeal.form.moderator")}}</label>
                        <input v-model="form.issuer" type="text" class="form-control" :placeholder="t('appeal.form.moderator_desc')">
                        <div class="error-message" v-if="errors.issuer">{{ errors.issuer }}</div>
                    </div>

                    <div class="form-group">
                        <label class="form-label"> {{ t("appeal.form.mistake")}}</label>
                        <textarea v-model="form.understood" class="form-control" rows="4"></textarea>
                        <div class="error-message" v-if="errors.understood">{{ errors.understood }}</div>
                    </div>

                    <div id="cf-turnstile" class="cf-turnstile" data-sitekey="0x4AAAAAABlvMqbKySTZKHqS" data-callback="onCaptchaSuccess"></div>

                    <button type="submit" class="submit-btn" :disabled="!captchaPassed">
                        <i class="fas fa-paper-plane"></i>
                        {{ t("appeal.button_send")}}
                    </button>
                </form>
            </div>
        </main>

        <footer-component></footer-component>
    </div>

    <%- include('layout/scripts') %>
    <script type="module" src="/frontend/appeal.js"></script>
</body>
</html>