<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Antilink - Головна</title>
  <%- include('layout/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/headerStyles.css" />

  
  <script src="/frontend/headerComponent.js" type="module"></script>
  <script src="/frontend/footerComponent.js" type="module"></script>
</head>

<body>
  <div id="app" v-cloak>

    <header-component></header-component>

    <main class="main-content">
      <section class="hero-section">
        <div class="logo-container"></div>
        <div class="hero-content">
          <h1>Antilink</h1>
          <p class="subtitle">
            {{ t("hero.description") }}
          </p>
          <div class="cta-buttons">
            <a href="#" id="invite-btn" class="btn primary-btn">
              <i class="fab fa-discord"></i> {{ t("hero.link_to_add")}}
            </a>
            <a href="/docs" class="btn secondary-btn">{{ t("hero.docs")}}</a>
          </div>
        </div>
        <div class="hero-image">
          <img src="/assets/images/antilink-logo.png" alt="Antilink Logo" />
        </div>
      </section>

      <section class="features-section">
        <h2>{{ t("stats.title")}}

        </h2>
        <div class="features-grid">
          <div class="feature-card">
            <div class="feature-icon">
              <i class="fas fa-shield-alt"></i>
            </div>
            <h3>
              {{ t("stats.verification_title")}}
            </h3>
            <p>
              {{ t("stats.verification_desc")}}
            </p>
          </div>

          <div class="feature-card">
            <div class="feature-icon">
              <i class="fas fa-link"></i>
            </div>
            <h3>
              {{ t("stats.invitesblock_title")}}
            </h3>
            <p>
              {{ t("stats.invitesblock_desc")}}
            </p>
          </div>

          <!-- <div class="feature-card">
              <div class="feature-icon">
                <i class="fas fa-robot"></i>
              </div>
              <h3>Розумна модерація</h3>
              <p>Автоматичні заходи проти посилань на інші сервери</p>
            </div> -->

          <div class="feature-card">
            <div class="feature-icon">
              <i class="fas fa-user-secret"></i>
            </div>
            <h3> 
              {{ t("stats.blacklist_title") }}
            </h3>
            <p>
              {{ t("stats.blacklist_desc")}}
            </p>
          </div>
        </div>
      </section>

      <section class="stats-section">
        <div class="stat-item">
          <div class="stat-number" v-cloak>
            {{ formattedGuilds || `0` }}
          </div>
          <div class="stat-label">
            {{ t("stats.active_guilds")}}
          </div>
        </div>
        <div class="stat-item">
          <div class="stat-number">99.9%</div>
          <div class="stat-label">
            {{ t("stats.efficiency")}}
          </div>
        </div>
        <div class="stat-item">
          <div class="stat-number">24/7</div>
          <div class="stat-label">
            {{ t("stats.online_support")}}
          </div>
        </div>
        <div class="stat-item">
          <div class="stat-number" v-cloak>
            {{ members || `0` }}
          </div>
          <div class="stat-label">
            {{ t("stats.members")}}
          </div>
        </div>
      </section>
    </main>
    <footer-component></footer-component>

  </div>
  <%- include('layout/scripts') %>
  <script type="module" src="/frontend/frontend.js"></script>
</body>

</html>